### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [39]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [40]:
num_of_players = purchase_data["Purchase ID"].count()
print(num_of_players)

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [41]:
# Number of Unique Items, Average Price, Number of Purchases, Total Revenue
avg_price = purchase_data['Price'].mean()
total_rev = purchase_data['Price'].sum()
unique_items = purchase_data['Item ID'].unique()
num_of_uniques = len(unique_items)

various_data = pd.DataFrame({"Number of Unique Items": [num_of_uniques],
                "Average Price": [avg_price],
                "Number of Purchases": [num_of_players],
                "Total Revenue": [total_rev]})
various_data

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [42]:
# Total Count, Percentage of Players
gender_groups = purchase_data.groupby(["Gender"])
total_count = gender_groups["Purchase ID"].count()
percent_of_players = ((total_count) / (num_of_players)) * 100
#total = pd.DataFrame(total_count)
percent = pd.DataFrame(percent_of_players)
#gender_groups['Total Count'] = total
sutff = gender_groups[["Purchase ID"]].count()
yeeee = pd.merge(sutff, percent, on="Gender")
yeeee.rename(columns={"Purchase ID_x":"Total Count", "Purchase ID_y":"Percentage of Players"})

                       Total Count  Percentage of Players
Gender
Female                         113              14.487179
Male                           652              83.589744
Other / Non-Disclosed           15               1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
# Purchase Count, Average Purchase Price, Total Purchase Value, Avg Total Purchase per Person
# First GroupBy "Gender"
gender_s = purchase_data.groupby(["Gender"])
# Obtain data series based on dataframe ran through functions
# Then turn that data into data frames
# Purchase Count
purchase_count = gender_s["Purchase ID"].count()
purchase_count_df = pd.DataFrame(purchase_count)
# Average Purchase Price
purch_avg = gender_s["Price"].mean()
purch_avg_df = pd.DataFrame(purch_avg)
# Total Purchase Value
total_purch = gender_s["Price"].sum()
total_purch_df = pd.DataFrame(total_purch)
# Average Total Purchase per Person
purch_pp = (purchase_count / total_purch) * 100
purch_pp_df = pd.DataFrame({"Average Total Purchase per Person":purch_pp})

#final_df = pd.DataFrame({"Purchase Count":[purchase_count_df], "Average Purchase Count":[purch_avg_df],
#                         "Total Purchase Value":[total_purch_df], "Average Total Purchase Per Person":[purch_pp_df]})
#final_df.head()

# merge the purchase_count_df and purch_avg_df
curr_df = pd.merge(purchase_count_df, purch_avg_df, on="Gender")
# merge the previous df and the total_purch_df
next_curr_df = pd.merge(curr_df, total_purch_df, on="Gender")
# merge the previous df and the purch_pp_df
final_df = pd.merge(next_curr_df, purch_pp_df, on="Gender")
# rename the columns
final_df.rename(columns={"Purchase ID":"Purchase Count", "Price_x":"Average Purchase Count",
                         "Price_y":"Total Purchase Value"})

,Purchase Count,Average Purchase Count,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,31.220644
Male,652,3.017853,1967.64,33.136143
Other / Non-Disclosed,15,3.346000,50.19,29.886432

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [67]:
# Create Bins and Labels
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 50]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data['Age Demographics'] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels, right=False)
age_groups = purchase_data.groupby(["Age Demographics"])
age_groups.count()

                  Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Demographics
<10                        23   23   23      23       23         23     23
10-14                      28   28   28      28       28         28     28
15-19                     136  136  136     136      136        136    136
20-24                     365  365  365     365      365        365    365
25-29                     101  101  101     101      101        101    101
30-34                      73   73   73      73       73         73     73
35-39                      41   41   41      41       41         41     41
40+                        13   13   13      13       13         13     13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:
# Purchase Count, Average Purchase Price, Total Purchase Value, Avg Total Purchase per Person
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 50]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data['Age Demographics'] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels, right=False)
age_groups = purchase_data.groupby(["Age Demographics"])

# Purchase Count
age_pcount = age_groups["Purchase ID"].count()
age_pcount_df = pd.DataFrame(age_pcount)
# Average Purchase Price
age_avg = age_groups["Price"].mean()
age_avg_df = pd.DataFrame(age_avg)
# Total Purchase Value
age_sum = age_groups["Price"].sum()
age_sum_df = pd.DataFrame(age_sum)
# Avg Total Purchase per Person
age_avg_total = (age_pcount / age_sum) * 100
age_avg_total_df = pd.DataFrame({"Avg Total Purchase per Person":age_avg_total})


# Merge everything together
first_merge = pd.merge(age_pcount_df, age_avg_df, on="Age Demographics")
second_merge = pd.merge(first_merge, age_sum_df, on="Age Demographics")
second_merge.rename(columns={"Price":"Total Purchase Value"})
final_merge = pd.merge(second_merge, age_avg_total_df, on="Age Demographics")
final_merge.rename(columns={"Purchase ID":"Purchase Count", "Price_x":"Average Purchase Price",
                           "Price_y":"Total Purchase Value"})

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Demographics,,,,
<10,23,3.353478,77.13,29.819785
10-14,28,2.956429,82.78,33.824595
15-19,136,3.035956,412.89,32.938555
20-24,365,3.052219,1114.06,32.763047
25-29,101,2.900990,293.00,34.470990
30-34,73,2.931507,214.00,34.112150
35-39,41,3.601707,147.67,27.764610
40+,13,2.941538,38.24,33.995816

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [69]:
# Purchase Count, Average Purchase Price, Total Purchase Value, groupby screen name
# Sum Purchases
# Count Purchases
# Divide Purchases by Sum'd Purchase
big_spenders = purchase_data.groupby(["SN"])
total_purchases = big_spenders["Price"].sum()
count_purchases = big_spenders["Purchase ID"].count()
avg_purchases = (count_purchases / total_purchases) * 100

# Turn Everything back into Data Frames
total_purchases_df = pd.DataFrame(total_purchases)
count_purchases_df = pd.DataFrame(count_purchases)
avg_purchases_df = pd.DataFrame(avg_purchases)

# Create a total frame by combing all the prior dta frames
big_frames = pd.DataFrame({"Purchase Count":count_purchases, "Average Purchase Price":avg_purchases, "Total Purchase Value":total_purchases})
big_frames.sort_values(by='Total Purchase Value',ascending=False)

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                   5               26.371308                 18.96
Idastidru52                 4               25.889968                 15.45
Chamjask73                  3               21.691974                 13.83
Iral74                      4               29.368576                 13.62
Iskadarya95                 3               22.900763                 13.10
Ilarin91                    3               23.622047                 12.70
Ialallo29                   3               25.337838                 11.84
Tyidaim51                   3               25.359256                 11.83
Lassilsala30                3               26.064292                 11.51
Chadolyla44                 3               26.178010                 11.46
Iri67                       3               26.385224                 11.37
Inguron55                   3               27.002700                 11.11
Siallylis44                 3               28.929605                 10.37
Saistyphos30                3               29.041626                 10.33
Phyali88                    3               29.126214                 10.30
Strithenu87                 3               29.469548                 10.18
Lisim78                     3               29.940120                 10.02
Haillyrgue51                3               31.578947                  9.50
Phistym51                   2               21.052632                  9.50
Lamil79                     2               21.528525                  9.29
Aina42                      3               32.537961                  9.22
Saesrideu94                 2               21.786492                  9.18
Arin32                      2               22.002200                  9.09
Rarallo90                   3               33.149171                  9.05
Baelollodeu94               2               22.148394                  9.03
Aelin32                     3               33.407572                  8.98
Lisopela58                  3               33.860045                  8.86
Saedaiphos46                3               33.975085                  8.83
Reunasu60                   2               22.675737                  8.82
Chanastnya43                3               34.013605                  8.82
...                       ...                     ...                   ...
Lirtim36                    1               75.187970                  1.33
Shidai42                    1               75.187970                  1.33
Philodil43                  1               77.519380                  1.29
Eyista89                    1               77.519380                  1.29
Mindilsa60                  1               78.125000                  1.28
Tyarithn67                  1               87.719298                  1.14
Aisur51                     1               87.719298                  1.14
Ilista82                    1               87.719298                  1.14
Jiskimsda56                 1               87.719298                  1.14
Aillyriadru65               1               90.909091                  1.10
Eryon48                     1               90.909091                  1.10
Iduelis31                   1               90.909091                  1.10
Yasur85                     1               90.909091                  1.10
Undjask33                   1               90.909091                  1.10
Lirtassa52                  1               91.743119                  1.09
Aelidru27                   1               91.743119                  1.09
Yalaeria91                  1               94.339623                  1.06
Aesurstilis64               1               97.087379                  1.03
Saida58                     1               97.087379                  1.03
Euthe35                     1               97.087379                  1.03
Hala31                      1               98.039216                  1.02
Qilalista41                 1               98.039216                  1.02
Frichjaskan98               1               98.039216                  1.02
Isurria36                   1               98.039216                  1.02
Eudanu84                    1               98.039216                  1.02
Ililsasya43                 1               98.039216                  1.02
Irilis75                    1               98.039216                  1.02
Aidai61                     1               99.009901                  1.01
Chanirra79                  1               99.009901                  1.01
Alo38                       1              100.000000                  1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [64]:
# GroupBy Item ID and Item Name
item_data = purchase_data.groupby(["Item ID","Item Name"])
# Purchase Count
item_count = item_data["Purchase ID"].count()
# calling .unique() removes any excess values & gets rid of the additional groupby statements that leaving it alone would produce
item_price = item_data["Price"].unique()
# Total Purchase Value
total_purchase = item_data["Price"].sum()

# toss everything into a data frame
total_frame = pd.DataFrame({"Purchase Count": item_count, "Item Price": item_price, "Total Purchase Value": total_purchase})
total_frame.head()

                            Purchase Count Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4     [1.28]                  5.12
1       Crucifer                         3     [3.26]                  9.78
2       Verdict                          6     [2.48]                 14.88
3       Phantomlight                     6     [2.49]                 14.94
4       Bloodlord's Fetish               5      [1.7]                  8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [65]:
total_frame.sort_values(by='Total Purchase Value',ascending=False)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,[4.23],50.76
82,Nirvana,9,[4.9],44.10
145,Fiery Glass Crusader,9,[4.58],41.22
92,Final Critic,8,[4.88],39.04
103,Singed Scalpel,8,[4.35],34.80
59,"Lightning, Etcher of the King",8,[4.23],33.84
108,"Extraction, Quickblade Of Trembling Hands",9,[3.53],31.77
78,"Glimmer, Ender of the Moon",7,[4.4],30.80
72,Winter's Bite,8,[3.77],30.16
60,Wolf,8,[3.54],28.32
179,"Wolf, Promise of the Moonwalker",6,[4.48],26.88
160,Azurewrath,6,[4.4],26.40
25,Hero Cane,6,[4.35],26.10
37,"Shadow Strike, Glory of Ending Hope",8,[3.16],25.28
139,"Mercy, Katana of Dismay",5,[4.94],24.70
128,"Blazeguard, Reach of Eternity",5,[4.91],24.55
138,"Peacekeeper, Wit of Dark Magic",5,[4.74],23.70
141,Persuasion,7,[3.19],22.33
87,"Deluge, Edge of the West",5,[4.43],22.15
159,"Oathbreaker, Spellblade of Trials",7,[3.08],21.56
136,Ghastly Adamantite Protector,6,[3.58],21.48
65,Conqueror Adamantite Mace,5,[4.24],21.20
101,Final Critic,5,[4.19],20.95
102,Avenger,6,[3.44],20.64
133,Faith's Scimitar,5,[4.09],20.45
39,"Betrayal, Whisper of Grieving Widows",5,[3.94],19.70
111,Misery's End,4,[4.89],19.56
165,Bone Crushing Silver Skewer,4,[4.86],19.44
75,Brutality Ivory Warmace,8,[2.42],19.36
52,Hatred,4,[4.84],19.36
...,...,...,...,...
124,Venom Claymore,4,[1.29],5.16
0,Splinter,4,[1.28],5.12
155,War-Forged Gold Deflector,5,[1.01],5.05
48,"Rage, Legacy of the Lone Victor",2,[2.48],4.96
158,"Darkheart, Butcher of the Champion",2,[2.45],4.90
51,Endbringer,1,[4.66],4.66
134,Undead Crusader,1,[4.5],4.50
30,Stormcaller,2,[2.21],4.42
135,Warped Diamond Crusader,3,[1.4],4.20
91,Celeste,1,[4.17],4.17
177,"Winterthorn, Defender of Shifting Worlds",2,[2.08],4.16
70,Hope's End,4,[1.03],4.12
115,Spectral Diamond Doomblade,2,[2.04],4.08
69,"Frenzy, Defender of the Harvest",2,[1.98],3.96
47,"Alpha, Reach of Ending Hope",1,[3.58],3.58
180,Stormcaller,1,[3.36],3.36
27,"Riddle, Tribute of Ended Dreams",1,[3.3],3.30
183,Dragon's Greatsword,3,[1.09],3.27
31,Trickster,2,[1.55],3.10
168,"Sun Strike, Jaws of Twisted Visions",2,[1.48],2.96
90,Betrayer,1,[2.94],2.94
33,Curved Axe,2,[1.16],2.32
26,Unholy Wand,2,[1.12],2.24
118,"Ghost Reaver, Longsword of Magic",1,[2.17],2.17
28,"Flux, Destroyer of Due Diligence",2,[1.06],2.12
125,Whistling Mithril Warblade,2,[1.0],2.00
126,Exiled Mithril Longsword,1,[2.0],2.00
23,Crucifer,1,[1.99],1.99
104,Gladiator's Glaive,1,[1.93],1.93
42,The Decapitator,1,[1.75],1.75